In [0]:
import pandas as pd

#ReadingData

In [0]:
df = pd.read_csv('corona.csv')

In [46]:
df.head(10)

        fever  bodyPain  age  ...  heart_dis  progressin48hr  kidneydis
0  100.434943         1   29  ...          0               0          0
1  101.774785         1   70  ...          1               0          0
2  101.330944         1   53  ...          1               1          1
3   98.959895         1  100  ...          0               1          0
4   98.433950         0   28  ...          0               0          0
5   98.408490         1   52  ...          0               0          0
6  101.777565         0   47  ...          1               1          1
7   98.976320         0   68  ...          1               0          1
8  101.932186         0   53  ...          0               0          1
9   98.636002         1   77  ...          1               1          1

[10 rows x 17 columns]

In [47]:
df.tail()

           fever  bodyPain  age  ...  heart_dis  progressin48hr  kidneydis
2538  100.351960         1   60  ...          1               1          0
2539  101.471503         1   63  ...          0               1          0
2540  100.347141         0   10  ...          0               1          1
2541  100.627456         1   92  ...          1               0          1
2542   99.481082         0   53  ...          1               1          0

[5 rows x 17 columns]

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2543 entries, 0 to 2542
Data columns (total 17 columns):
fever                    2543 non-null float64
bodyPain                 2543 non-null int64
age                      2543 non-null int64
runnyNose                2543 non-null int64
Moderate_severe_cough    2543 non-null int64
infectionProb            2543 non-null int64
Gender                   2543 non-null int64
Dry_Cough                2543 non-null int64
Sore_throat              2543 non-null int64
Weakness                 2543 non-null int64
Change_in_Appetite       2543 non-null int64
Feeling_breathless       2543 non-null int64
close_contact            2543 non-null int64
Diabetes                 2543 non-null int64
heart_dis                2543 non-null int64
progressin48hr           2543 non-null int64
kidneydis                2543 non-null int64
dtypes: float64(1), int64(16)
memory usage: 337.9 KB

In [50]:
df['Feeling_breathless'].value_counts()

0    1294
1    1249
Name: Feeling_breathless, dtype: int64

In [51]:
df.describe()

             fever     bodyPain  ...  progressin48hr    kidneydis
count  2543.000000  2543.000000  ...     2543.000000  2543.000000
mean     99.990058     0.498624  ...        0.504129     0.503736
std       1.148171     0.500096  ...        0.500081     0.500084
min      98.000970     0.000000  ...        0.000000     0.000000
25%      98.988749     0.000000  ...        0.000000     0.000000
50%      99.987050     0.000000  ...        1.000000     1.000000
75%     100.990792     1.000000  ...        1.000000     1.000000
max     101.998238     1.000000  ...        1.000000     1.000000

[8 rows x 17 columns]

#Train & Test Splitting

In [0]:
import numpy as np

In [0]:
def data_split(data,ratio):
  np.random.seed(42)
  shuffled = np.random.permutation(len(data))
  test_set_size = int(len(data)*ratio)
  test_indices = shuffled[:test_set_size]
  train_indices = shuffled[test_set_size:]
  return data.iloc[train_indices], data.iloc[test_indices]

In [54]:
np.random.permutation(7)

array([0, 2, 5, 4, 1, 6, 3])

In [0]:
train,test = data_split(df,0.2)

In [56]:
train

           fever  bodyPain  age  ...  heart_dis  progressin48hr  kidneydis
1207  100.932150         1   81  ...          1               0          0
350    98.235296         1   48  ...          1               1          1
2330   98.952400         0    1  ...          1               1          1
2218  101.327839         1    5  ...          1               0          1
1655  100.785070         0   99  ...          0               1          1
...          ...       ...  ...  ...        ...             ...        ...
1638   98.195154         0   80  ...          0               1          0
1095   99.594376         1   21  ...          0               0          1
1130   98.119543         1   44  ...          0               0          1
1294  100.867626         1   75  ...          1               0          1
860    98.546993         1   30  ...          1               1          0

[2035 rows x 17 columns]

In [57]:
test

           fever  bodyPain  age  ...  heart_dis  progressin48hr  kidneydis
1642   98.778174         1   86  ...          1               1          1
727   100.140367         1   98  ...          1               0          0
498    98.187597         1   11  ...          0               1          0
1463  101.125489         0   99  ...          1               1          0
564    99.907417         0   40  ...          0               1          1
...          ...       ...  ...  ...        ...             ...        ...
70     99.881228         0   34  ...          0               1          0
2381   98.153104         0   19  ...          0               0          0
567    98.347613         1   66  ...          1               1          1
621   101.334782         1   44  ...          1               1          0
73     98.852915         1   24  ...          1               0          0

[508 rows x 17 columns]

In [0]:
x_train = train[['fever', 'bodyPain', 'age', 'runnyNose', 'Moderate_severe_cough','infectionProb','Dry_Cough','Gender','Sore_throat','Weakness','Change_in_Appetite','Feeling_breathless','close_contact','Diabetes','heart_dis','progressin48hr','kidneydis']].to_numpy()
x_test = test[['fever', 'bodyPain', 'age', 'runnyNose', 'Moderate_severe_cough','infectionProb','Dry_Cough','Gender','Sore_throat','Weakness','Change_in_Appetite','Feeling_breathless','close_contact','Diabetes','heart_dis','progressin48hr','kidneydis']].to_numpy()

In [0]:
y_train = train[['infectionProb']].to_numpy().reshape(2035,)
y_test = test[['infectionProb']].to_numpy().reshape(508 ,)

In [62]:
y_train

array([1, 1, 0, ..., 0, 0, 0])

In [0]:
from sklearn.linear_model import LogisticRegression

In [64]:
clf = LogisticRegression()
clf.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
#inputFeature =[104,1,68,-1,1]
inputFeature = [98,1,92,1,1,1,1,1,1,1,1,1,1,1,1,1,1]
infProb = clf.predict_proba([inputFeature])[0][1]

In [71]:
infProb

0.9918548692262471